<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.com.softwarica.uride">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.passengers.PickupArrivingActivity"></activity>
        <activity android:name=".activities.drivers.DriverOnTripActivity" />
        <activity android:name=".activities.drivers.PayToUrideActivity" />
        <activity android:name=".activities.drivers.AddFirstPaymentActivity" />
        <activity android:name=".activities.drivers.RideRequestActivity" />
        <activity android:name=".activities.drivers.RideHistory" />
        <activity android:name=".activities.drivers.NotificationActivity" />
        <activity android:name=".activities.drivers.MyEarningActivity" />
        <activity android:name=".activities.drivers.MyRating" />
        <activity android:name=".activities.drivers.AddPaymentActivity" />
        <activity android:name=".activities.MyAccountActivity" />
        <activity android:name=".activities.passengers.CancelOptionActivity" />
        <activity android:name=".activities.drivers.DriverDashboardActivity" />
        <activity android:name=".activities.drivers.RegisterDriverActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.VerificationActivity" />
        <activity android:name=".activities.SignupCompleteActivity" />
        <activity android:name=".activities.passengers.RegisterPassengerActivity" />
        <activity android:name=".activities.passengers.UserDashboardActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>